<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-lable"  for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Nice content!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Nice content!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-lable" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">
                            Nice content!
                        </div>
                    </div>
                    
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="description">Description</label>
                    <textarea class="form-control" type="text" id="image" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Nice content!
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
                
            
            </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>

